<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if login %}
        {% include 'login_header.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}

    <section class="content">
        {% block content %} {% endblock %}
    </section>

    {% include 'footer.html' %}
</body>
</html>