<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Prediction</title>
</head>
<body>
    <h1>You can check your salary prediction based on years experience.</h1>
    <form action="" method="get">
        <label for="years">Years Experience</label>
        <input type="number" name="years" id="">

        <input type="submit" value="Check!">
    </form>

    {% if res %}
    <h1>Salary is {{ res }}</h1>
    {% endif %}
</body>
</html>