* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    max-width: 100vw;
    min-height: 100vh;
    background-color: #192f59;
}

.body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: auto;
}

header nav {
    width: 100%;
    height: auto;
}

header nav.top {
    height: 61.5px;
}

header nav.bottom {
    height: 91.2px;
    background-color: white;
}

header nav div.content {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

header nav.top div.content {
    /* background-color: salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.top div.content div.language-flags span {
    margin-right: 20px;
}

header nav.top div.content .link-visit {
    width: 150px;
    height: 100%;
    background-color: #3DB266;
    text-align: center;
}

header nav.top div.content .link-visit a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 61.5px;
}

header nav.bottom div.content{
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.bottom div.content img {
    width: 223px;
    height: auto;
}
header nav.bottom div.content ul.nav {
    display: flex;
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

header nav.bottom div.content ul.nav li a {
    display: inline-block;
    height: 91.2px;
    line-height: 91.2px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .5pt;
    color: #192f59;
    /* background-color: lightskyblue; */
}

header nav.bottom div.content ul.nav li a:hover {
    display: inline-block;
    height: 91.2px;
    line-height: 91.2px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .5pt;
    color: #3DB266;
    /* background-color: lightskyblue; */
    border-bottom: 5px solid #3DB266;
}

section.hero {
    width: 100%;
    height: calc(100vh - 153px);
    background: url("./hero.jpeg") no-repeat center center / cover;
}

section.hero .hero-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15% 0;
}

.hero-text > h1 {
    font-size: 40pt;
}

.hero-text > h2 {
    font-size: 20pt;
}

.hero-text > div.hero-btn{
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-weight: bold;
}

.hero-text > div.hero-btn:hover {
    width: 250px;
    height: 50px;
    background-color: #192f59;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-weight: bold;
}


section.feature {
    height: 314px;
    width: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "feature_one feature_two feature_three";
} 

section.feature div.feature-box {
    padding: 60px 50px;
}

section.feature > .feature-one {
    background-color: salmon;
    grid-area: feature_one;
    background: url("https://sbe.prasetiyamulya.ac.id/wp-content/uploads/2020/05/gedung-universitas-prasetiya-mulya-bsd-2.png") no-repeat center center / cover;
}

section.feature > .feature-two {
    background-color: bisque;
    grid-area: feature_two;
    background: url("https://sbe.prasetiyamulya.ac.id/wp-content/uploads/2020/05/gedung-universitas-prasetiya-mulya-bsd-1.png") no-repeat center center / cover;
}

section.feature > .feature-three {
    background-color: azure;
    grid-area: feature_three;
    background: url("https://www.prasetiyamulya.ac.id/wp-content/uploads/2019/09/plaza-Universitas-Prasetiya-Mulya.png") no-repeat center center / cover;
}

section.feature div.transparent-box {
    width: 100%;
    height: 100%;
    background-color: #192f59cd;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.school-icon {
    font-size: 40px;
}

div.transparent-box p {
    font-style: italic;
    text-transform: uppercase;
}

section.about {
    width: 100%;
    height: 912px;
    background-color: #192f59;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: left right;
    padding: 50px;
}

section.about div.left {
    /* background-color: aquamarine; */
    padding: 50px;
}

section.about div.left h1 {
    font-size: 28px;
    color: grey;   
}

section.about div.right {
    /* background-color: aqua; */
    padding: 50px;
}

section.about div.right h1 {
    font-size: 50px;
    color: white;  
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2pt; 
    word-spacing: 3pt;
    margin-bottom: 40px;
}

section.about div.right p {
    font-size: 18pt;
    color: white;
    letter-spacing: 1.5pt;
    word-spacing: 3pt;
}

section.about div.right a {
    display: inline-block;
    font-size: 16pt;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
}

section.about div.right a:hover {
    display: inline-block;
    font-size: 16pt;
    color: grey;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
}

section.about-video {
    position: relative;
    width: 100%;
    min-height: 800px;
    /* background-color: aliceblue; */
}

section.about-video video {
    width: 100%;
    height: 800px;
}

section.about-video div.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

section.about-video div.content div.circle-play-btn {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid white;
    text-align: center;
    line-height: 100px;
    font-size: 30pt;
}

section.about-video div.content h1 {
    font-size: 50pt;
}

section.about-video div.content p {
    font-size: 18pt;
    font-weight: bold;
}

section.activities2 {
    width: 80%;
    min-height: 500px;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
}

section.activities2 div.item {
    width: 300px;
    height: 400px;
    /* background-color: plum; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
}

section.activities2 div.item span {
    font-size: 25pt;
}

section.activities2 div.item p {
    color: gray;
}

section.activities2 div.item a{
    text-decoration: none;
    color: #3DB266;
}

section.activities2 div.item a:hover{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 800px) {
    body {
        background-color: white;
    }
}