{% extends "layout.html" %}

{% block content %}
    <section class="content">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, veritatis a, ipsam quae deleniti dolorum quis hic delectus laudantium accusantium neque sed asperiores libero at! Obcaecati, delectus. Nulla non cupiditate tenetur blanditiis tempora sed enim perspiciatis est, itaque quidem eum earum, aperiam laboriosam voluptatem nihil autem qui? Laboriosam, quis! Quod.
        </p>
    </section>
{% endblock %}