<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        li {
            list-style: none;
        }
    </style>
</head>
<body>
    {% if message %}
    <p>Login Success!</p>
    {% endif %}
    <form action="" method="post">
        <ul>
            <li>
                <label for="usernameField">Username</label>
                <input type="text" name="username" id="usernameField">
            </li>

            <li>
                <label for="passwordField">Password</label>
                <input type="password" name="password" id="passwordField">
            </li>

            <li>
                <input type="submit" value="Search">
            </li>
        </ul>
        
    </form>
</body>
</html>